
  <ul class="list-group">
    <li class="list-group-item">  <a href="{% url 'dashboard' %}">DASHBOARD</a> </li>
    <li class="list-group-item"> <a href="{% url 'user_update' %}">USER INFO UPDATE</a>  </li>
    <li class="list-group-item"><a href="{% url 'user_skill' %}"> USER SKILL</a></li>
    <li class="list-group-item"> <a href="{% url 'user_cv' %}">CV </a> </li>
    <li class="list-group-item"> <a href="{% url 'user_degree' %}">DEGREE</a>  </li>
    <li class="list-group-item"> <a href="{% url 'user_experience' %}">EXPERIENCE</a>  </li>

  </ul>
